body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.accordion-button::after {
    /* background-image: var(--bs-accordion-btn-active-icon); */
    /* transform: var(--bs-accordion-btn-icon-transform); */
    filter: invert(1);
}

h1 { font-size: 2rem; }      /* 32px */
h2 { font-size: 1.5rem; }    /* 24px */
h3 { font-size: 1.25rem; }   /* 20px */


textarea {
  font-size: 1rem;        /* 16px */
  line-height: 1.5;
  font-family: inherit;
}

button {
  font-size: 0.9rem;   /* ~14px */
  font-weight: 500;
}

.summary-text {
  font-size: 0.95rem;
  color: #555;
}

.preview-text {
  font-size: 1rem;
}

.about-text {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #444;
}



body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

